# Copiez ce fichier en .env et remplissez les valeurs

# Base de données (SQLite local ou PostgreSQL production)
DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@host/db?sslmode=require"
# DIRECT_URL="postgresql://user:password@host/db?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="votre-secret-tres-long-et-complexe"
NEXTAUTH_URL="http://localhost:3000"

# SuperAdmin
SUPERADMIN_SECRET="superadmin-secret-complexe"
