# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Environnement — NE JAMAIS POUSSER SUR GITHUB
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Base de données locale
prisma/*.db
prisma/*.db-journal

# Logs
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts
